img {
    border-radius: 8px
}


html, body{
    margin: 10px;
    background-color: #DDD0FE;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-selections {
    text-transform: uppercase;
    letter-spacing: 5px;
    font: 16px "lato", sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px; /*space between lines */
    /*float: right;*/
    margin-left: 5px;
    transition: 1.5s;
}

.nav-selections:hover {
    transition: 1.5s;
    color: black;
}

ul {
    /*
    background-image: url("https://thumbs.dreamstime.com/b/long-road-4344318.jpg");
    */
    background-color: #BDA8F7;
    overflow: auto;
}

li {
    list-style-type: none;
}
li:first-child {
    margin-right: 35px;
}